.icon{
  height: auto;
  width: clamp(var(--size-sm), 5vw, var(--size-lg));
}

.icon:nth-child(odd){
  rotate: 25deg;
}

.icon:nth-child(even){
  rotate: -25deg;
}
.icon-arrow{
  width: clamp(var(--size-xs), 5vw, var(--size-md));
}