:root {
  --title-lg: clamp(2rem, 4vw, 5rem);
  --title-xl: clamp(4rem, 12vw, 12rem);
  
  --size-full: 100%;
  --size-full-vw: 100dvw;
  --size-full-vh: 100dvh;
  
  --size-xs: 1rem;
  --size-sm: 2rem;
  --size-md: 3rem;
  --size-lg: 4rem;
  --size-xl: 5rem;
  --size-xxl: 6rem;
  --size-big--sm: 7rem;
  --size-big--md: 8rem;
  --size-big--lg: 9rem;
  --size-big--xl: 10rem;
  --size-big--xxl: 11rem;

  --size-5:  5%;
  --size-10: 10%;
  --size-15: 15%;
  --size-20: 20%;
  --size-25: 25%;
  --size-30: 30%;
  --size-35: 35%;
  --size-40: 40%;
  --size-45: 45%;
  --size-50: 50%;
  --size-55: 55%;
  --size-60: 60%;
  --size-65: 65%;
  --size-70: 70%;
  --size-75: 75%;
  --size-80: 80%;
  --size-85: 85%;
  --size-90: 90%;
  --size-95: 95%;

  --screen-xs: 344px;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
  --screen-xxl: 1440px;
  --screen-xxl: 1920px;
  --screen-xxxl-: 1920px;
  
  --color-blue: #0378A6;
  --color-pink: #F294D9;
  --color-cian: #0CF2DB;
  --color-white: #E4E4F2;
  --color-yellow: #FEE877;
  --color-purple: #6A4EA6;
  --color-carmesy: #D41B3D;
  --color-pink--dark: #BF3F6E;
  --color-purple-light: #CA65FF;
  --color-purple-dark: #060514;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  line-height: 1.5;

}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

svg{
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: var(--color-purple-dark);
}


/*Fill colors*/
.fill-blue { fill: var(--color-blue); }
.fill-cian { fill: var(--color-cian); }
.fill-white { fill: var(--color-white); }
.fill-yellow { fill: var(--color-yellow); }
.fill-carmesy { fill: var(--color-carmesy); }

.fill-pink { fill: var(--color-pink); }
.fill-pink-dark { fill: var(--color-pink--dark) ;}

.fill-purple { fill: var(--color-purple-light); }
.fill-purple-dark { fill: var(--color-purple); }

/*Colors*/
.color-blue { color: var(--color-blue); }
.color-pink { color: var(--color-pink); }
.color-cian { color: var(--color-cian); }
.color-white { color: var(--color-white); }
.color-yellow { color: var(--color-yellow); }
.color-purple { color: var(--color-purple); }
.color-carmesy { color: var(--color-carmesy); }
.color-pink-500 { color: var(--color-pink--dark); }
.color-purple-100 { color: var(--color-purple-light); }

/*Background Colors*/
.bg-color--blue { background-color: var(--color-blue); }
.bg-color--pink { background-color: var(--color-pink); }
.bg-color--cian { background-color: var(--color-cian); }
.bg-color--white { background-color: var(--color-white); }
.bg-color--yellow { background-color: var(--color-yellow); }

/* Border Colors*/
.border { border: solid red; }

/*Text Align*/
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*Typography*/
.font-italic { font-style: italic; }
.font-normal { font-style: normal; }

.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-bold { font-weight: 700; }

.font-xs { font-size: var(--size-xs); }
.font-sm { font-size: var(--size-sm); }
.font-md { font-size: var(--size-md); }
.font-lg { font-size: var(--size-lg); }
.font-xl { font-size: var(--size-xl); }
.font-xxl { font-size: var(--size-xxl); }

.font-title--lg { font-size: var(--title-lg)}
.font-title--xl { font-size: var(--title-xl)}

.font-rufina {
  font-family: "Rufina", system-ui;
  font-style: normal;
}
.font-poppins {
  font-family: "Poppins", system-ui;
  font-style: normal;
}

/*Width & Height*/
.w-auto { width: auto; }
.h-auto { height: auto; }

.w-full { width: var(--size-full); }
.h-full { height: var(--size-full); }

.w-full--vw { width: var(--size-full--vw); }
.h-full--vh { height: var(--size-full--vh); }

.w-min--xs { min-width: var(--screen-xs); }
.h-min--xs { min-height: var(--screen-xs); }

.w-xs { width: var(--size-xs); }
.w-sm { width: var(--size-sm); }
.w-md { width: var(--size-md); }
.w-lg { width: var(--size-lg); }
.w-xl { width: var(--size-xl); }
.w-xxl { width: var(--size-xxl); }

.h-xs { height: var(--size-xs); }
.h-sm { height: var(--size-sm); }
.h-md { height: var(--size-md); }
.h-lg { height: var(--size-lg); }
.h-xl { height: var(--size-xl); }
.h-xxl { height: var(--size-xxl); }


.w-5  { width: var(--size-5);  }
.w-10 { width: var(--size-10); }
.w-15 { width: var(--size-15); }
.w-20 { width: var(--size-20); }
.w-25 { width: var(--size-25); }
.w-30 { width: var(--size-30); }
.w-35 { width: var(--size-35); }
.w-40 { width: var(--size-40); }
.w-45 { width: var(--size-45); }
.w-50 { width: var(--size-50); }
.w-55 { width: var(--size-55); }
.w-60 { width: var(--size-60); }
.w-65 { width: var(--size-65); }
.w-70 { width: var(--size-70); }
.w-75 { width: var(--size-75); }
.w-80 { width: var(--size-80); }
.w-85 { width: var(--size-85); }
.w-90 { width: var(--size-90); }
.w-95 { width: var(--size-95); }

.h-5  { height: var(--size-5);  }
.h-10 { height: var(--size-10); }
.h-15 { height: var(--size-15); }
.h-20 { height: var(--size-20); }
.h-25 { height: var(--size-25); }
.h-30 { height: var(--size-30); }
.h-35 { height: var(--size-35); }
.h-40 { height: var(--size-40); }
.h-45 { height: var(--size-45); }
.h-50 { height: var(--size-50); }
.h-55 { height: var(--size-55); }
.h-60 { height: var(--size-60); }
.h-65 { height: var(--size-65); }
.h-70 { height: var(--size-70); }
.h-75 { height: var(--size-75); }
.h-80 { height: var(--size-80); }
.h-85 { height: var(--size-85); }
.h-90 { height: var(--size-90); }
.h-95 { height: var(--size-95); }

/*Padding*/
.p-sx{ padding: var(--size-xs); }
.p-sm { padding: var(--size-sm); }
.p-md { padding: var(--size-md); }
.p-lg { padding: var(--size-lg); }
.p-xl { padding: var(--size-xl); }
.p-xxl { padding: var(--size-xxl); }

.pl-xs { padding-left: var(--size-xs); }
.pl-sm { padding-left: var(--size-sm); }
.pl-md { padding-left: var(--size-md); }
.pl-lg { padding-left: var(--size-lg); }
.pl-xl { padding-left: var(--size-xl); }
.pl-xxl { padding-left: var(--size-xxl); }

.pr-xs { padding-right: var(--size-xs); }
.pr-sm { padding-right: var(--size-sm); }
.pr-md { padding-right: var(--size-md); }
.pr-lg { padding-right: var(--size-lg); }
.pr-xl { padding-right: var(--size-xl); }
.pr-xxl { padding-right: var(--size-xxl); }

.pt-xs { padding-top: var(--size-xs); }
.pt-sm { padding-top: var(--size-sm); }
.pt-md { padding-top: var(--size-md); }
.pt-lg { padding-top: var(--size-lg); }
.pt-xl { padding-top: var(--size-xl); }
.pt-xxl { padding-top: var(--size-xxl); }

.pb-xs { padding-bottom: var(--size-xs); }
.pb-sm { padding-bottom: var(--size-sm); }
.pb-md { padding-bottom: var(--size-md); }
.pb-lg { padding-bottom: var(--size-lg); }
.pb-xl { padding-bottom: var(--size-xl); }
.pb-xxl { padding-bottom: var(--size-xxl);}


/*Margin*/
.m-xs { margin: var(--size-xs); }
.m-sm { margin: var(--size-sm); }
.m-md { margin: var(--size-md); }
.m-lg { margin: var(--size-lg); }
.m-xl { margin: var(--size-xl); }
.m-xxl { margin: var(--size-xxl); }

.ml-xs { margin-left: var(--size-xs); }
.ml-sm { margin-left: var(--size-sm); }
.ml-md { margin-left: var(--size-md); }
.ml-lg { margin-left: var(--size-lg); }
.ml-xl { margin-left: var(--size-xl); }
.ml-xxl { margin-left: var(--size-xxl); }

.mr-xs { margin-right: var(--size-xs); }
.mr-sm { margin-right: var(--size-sm); }
.mr-md { margin-right: var(--size-md); }
.mr-lg { margin-right: var(--size-lg); }
.mr-xl { margin-right: var(--size-xl); }
.mr-xxl { margin-right: var(--size-xxl); }

.mt-xs { margin-top: var(--size-xs); }
.mt-sm { margin-top: var(--size-sm); }
.mt-md { margin-top: var(--size-md); }
.mt-lg { margin-top: var(--size-lg); }
.mt-xl { margin-top: var(--size-xl); }
.mt-xxl { margin-top: var(--size-xxl); }

.mb-xs { margin-bottom: var(--size-xs); }
.mb-sm { margin-bottom: var(--size-sm); }
.mb-md { margin-bottom: var(--size-md); }
.mb-lg { margin-bottom: var(--size-lg); }
.mb-xl { margin-bottom: var(--size-xl); }
.mb-xxl { margin-bottom: var(--size-xxl); }

/*Flex*/
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.gap-xs { gap: var(--size-xs); }
.gap-sm { gap: var(--size-sm); }

/*Justify*/
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

/*Align*/
.align-end { align-items: flex-end; }
.align-center { align-items: center; }
.align-start { align-items: flex-start; }


/*Animations*/
.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Keyframes*/  
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

